<body style="background-color:DarkGrey ;">
<% I18n.locale = @language%>
<% if flash[:success] %>
    <p class="bg-success"><%= flash[:success] %></p>
<% end %>

<% if flash[:error] %>
    <p class="bg-danger"><%= flash[:error] %></p>
<% end %>

<div class="w3-card-4">
  <div class="w3-container w3-brown">
    <h2><%=I18n.t("login") %></h2>
  </div>
<form action="/login" method="post" enctype="multipart/form-data">
    <p>      
    <label class="w3-label w3-text-brown"><b><%=I18n.t("Username") %></b></label>
    <input class="w3-input w3-border w3-sand" id="username" name="username" type="text" required="true"></p>
    <p>      
    <label class="w3-label w3-text-brown"><b><%=I18n.t("Password") %></b></label>
    <input class="w3-input w3-border w3-sand" id="password" name="password" type="password" required="true"></p>
    <p>
    <center><button type="submit" class="w3-btn w3-brown" id="login"><%=I18n.t("login") %></button></center></p>
  </form>
  <form action="/forgotPassword" method="get" enctype="multipart/form-data">
  <center><button type="submit" class="w3-btn w3-brown"><%=I18n.t("forgotPassword") %></button></center>
</form>
</div>
