<body style="background-color:#A852FF;">
      
<!-- Ако си логнат  -->

<%if session[:loginUser] %>
  <div class="w3-bar w3-green"> 
    <p class="w3-bar-item" "><b>wellcome, <%= session[:loginUser].username %>!</b></p><br>
    <%if session[:loginUser].isAdmin == 1%>   
      <form action="/createPost" method="get" enctype="multipart/form-data">
        <button class="w3-bar-item w3-btn w3-khaki w3-hover-blue w3-round-xxlarge w3-small " type="submit">Create new post</button> 
      </form> 
    <%end%>

    <form action="/allUsers" method="get" enctype="multipart/form-data" >
      <button type="submit" class="w3-bar-item w3-btn w3-khaki w3-hover-blue w3-round-xxlarge w3-small "  >all users</button> 
     </form>

    <form action="/logout" method="post">
      <button class="w3-bar-item w3-btn w3-khaki w3-hover-blue w3-round-xxlarge w3-small " type="submit">logout</button> 
    </form> 
  </div>


<!-- Ако не си логнат  -->
<%else%>  
  <div class="w3-bar w3-green"> 
    <p class="w3-bar-item" "><b>wellcome!</b></p><br>

    <form action="/login" method="get" enctype="multipart/form-data">
      <button class="w3-right w3-btn w3-khaki w3-hover-blue w3-round-xxlarge w3-small " type="submit">login</button> 
    </form>

    <form action="/register" method="get" enctype="multipart/form-data">
      <button class="w3-right w3-btn w3-khaki w3-hover-blue w3-round-xxlarge w3-small" type="submit">create account</button> 
    </form>
  </div>
<%end %>


<!-- Тагове  -->
<i>tags</i>
<table>
  <tr>
    <form action="/tag/" method="post"> 
      <button type="submit" class="w3-tag w3-round w3-green w3-border w3-border-white"><b>all</b></button> 
    </form>
    <% Tag.all.select{ |e| e.posts.any? { |p| p.isActive == 1 }}.each do |e|%>
      <form action=<%="/tag/"+e.name.to_s%> method="post"> 
        <button type="submit" class="w3-tag w3-teal" style="transform:rotate(-5deg)"><%= e.name %></button>
       </form>
    <% end %>
  </tr>
</table>


<!-- Сортировки  -->
<i>sort by:</i>     
<table>
  <tr>
    <form action="/sort/comments_number" method="post"> 
      <button class="w3-btn w3-yellow w3-border w3-round-large" type="submit">amount of comments</button> 
    </form>
  
    <form action="/sort/published" method="post"> 
      <button class="w3-btn w3-yellow w3-border w3-round-large" type="submit">published</button> 
    </form>
  </tr>
</table>

<!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->    
<!-- ПУБЛИКАЦИИТЕ -->

<h4>(with tag : 
  <% if @showOnly == "" || !@showOnly%>
    it's not specifield
  <%else @showOnly%>
    <%= @showOnly%>
  <% end %>)             
</h4><hr>

<% if @allposts.empty? %>
  <i>doesn't exist posts</i>
<% else %>
  <% @allposts.reverse.each do |e| %>
  <center>
  <%if e.isActive == 1 || (e.isActive == 0  && (session[:loginUser]  && session[:loginUser].isAdmin==1) )%>
    <%if e.isActive == 0%> <span style="color: yellow"><b>It's not active!</b></span> <%end%><br>
    <b>published at:</b><%= e.published %><br>
    <b>subject:</b><%= e.subject%><br>
    <b>Tags:</b><%= e.all_tags %><br>
    <img src=<%= e.imagePath%> style="width:128px;height:128px;"><br>
        <form action=<%="/posts/"+e.id.to_s%> method="get" enctype="multipart/form-data"> 
        <button type="submit" class="w3-button w3-ripple w3-yellow w3-small"><b>Read</b></button> 
        </form>
    
    <%if session[:loginUser]  && session[:loginUser].isAdmin==1 %>
      <table>
      <tr>
        <form action=<%="/editPost/"+e.id.to_s%> method="get" enctype="multipart/form-data"> 
        <button type="submit" class="w3-button w3-ripple w3-green w3-small"><b>edit</b></button> 
        </form>
    
        <form action=<%="/deletePost/"+e.id.to_s%> method="post"> 
        <button type="submit" class="w3-button w3-ripple w3-green w3-small"><b>delete</b></button> 
        </form>
    
        <form action=<%="/changePostStatus/"+e.id.to_s%> method="post"> 
        <button type="submit" class="w3-button w3-small w3-ripple w3-green"><b>changeStatus</b></button> 
        </form>
    
      </tr>  
      </table>  
    <%end%>  
    </center>
<hr>
  <%end%>
  <%end%> 
<%end%>
</body>